aiohttp==3.8.5
aiosignal==1.3.1
altair==5.1.1
annotated-types==0.5.0
antlr4-python3-runtime==4.9.3
anyio==3.7.1
async-timeout==4.0.3
attrs==23.1.0
audio-recorder-streamlit==0.0.8
backoff==2.2.1
bcrypt==4.0.1
beautifulsoup4==4.12.2
blinker==1.6.2
cachetools==5.3.1
certifi==2023.7.22
cffi==1.16.0
chardet==5.2.0
charset-normalizer==3.2.0
chroma-hnswlib==0.7.3
chromadb==0.4.13
click==8.1.7
colorama==0.4.6
coloredlogs==15.0.1
contourpy==1.1.1
cryptography==41.0.4
cycler==0.12.1
dataclasses-json==0.6.1
dnspython==2.4.2
effdet==0.4.1
email-validator==2.0.0.post2
emoji==2.8.0
entrypoints==0.4
et-xmlfile==1.1.0
exceptiongroup==1.1.3
faiss-cpu==1.7.4
Faker==19.11.0
fastapi==0.103.1
favicon==0.7.0
ffprobe==0.5
filelock==3.12.4
filetype==1.2.0
Flask==2.3.3
Flask-WTF==1.1.1
flatbuffers==23.5.26
fonttools==4.43.1
frozenlist==1.4.0
fsspec==2023.9.2
gitdb==4.0.10
GitPython==3.1.35
google-ai-generativelanguage==0.3.3
google-api-core==2.12.0
google-auth==2.23.2
google-generativeai==0.2.1
googleapis-common-protos==1.60.0
greenlet==2.0.2
grpcio==1.59.0
grpcio-status==1.59.0
h11==0.14.0
htbuilder==0.6.2
httptools==0.6.0
huggingface-hub==0.16.4
humanfriendly==10.0
idna==3.4
importlib-metadata==6.8.0
importlib-resources==6.1.0
iopath==0.1.10
itsdangerous==2.1.2
Jinja2==3.1.2
joblib==1.3.2
jsonpatch==1.33
jsonpointer==2.4
jsonschema==4.19.0
jsonschema-specifications==2023.7.1
kiwisolver==1.4.5
langchain==0.0.304
langdetect==1.0.9
langsmith==0.0.41
layoutparser==0.3.4
lxml==4.9.3
Markdown==3.5
markdown-it-py==3.0.0
markdownlit==0.0.7
MarkupSafe==2.1.3
marshmallow==3.20.1
matplotlib==3.8.0
mdurl==0.1.2
monotonic==1.6
more-itertools==10.1.0
mpmath==1.3.0
multidict==6.0.4
mypy-extensions==1.0.0
networkx==3.2
nltk==3.8.1
numexpr==2.8.7
numpy==1.25.2
omegaconf==2.3.0
onnx==1.14.1
onnxruntime==1.15.1
openai==0.28.0
opencv-python==4.8.1.78
openpyxl==3.1.2
overrides==7.4.0
packaging==23.1
pandas==2.1.0
pdf2image==1.16.3
pdfminer.six==20221105
pdfplumber==0.10.2
Pillow==10.1.0
portalocker==2.8.2
posthog==3.0.2
proto-plus==1.22.3
protobuf==4.24.3
pulsar-client==3.3.0
pyarrow==13.0.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycocotools==2.0.7
pycparser==2.21
pydantic==2.4.1
pydantic_core==2.10.1
pydeck==0.8.0
pydub==0.25.1
Pygments==2.16.1
pymdown-extensions==10.3.1
Pympler==1.0.1
PyMuPDF==1.23.4
PyMuPDFb==1.23.3
pyparsing==3.1.1
PyPDF2==3.0.1
pypdfium2==4.22.0
PyPika==0.48.9
pyreadline3==3.4.1
pytesseract==0.3.10
python-dateutil==2.8.2
python-dotenv==1.0.0
python-iso639==2023.6.15
python-magic==0.4.27
python-multipart==0.0.6
pytz==2023.3.post1
pytz-deprecation-shim==0.1.0.post0
PyYAML==6.0.1
rapidfuzz==3.4.0
referencing==0.30.2
regex==2023.8.8
requests==2.31.0
rich==13.6.0
rpds-py==0.10.2
rsa==4.9
safetensors==0.4.0
scipy==1.11.3
six==1.16.0
smmap==5.0.0
sniffio==1.3.0
sounddevice==0.4.6
soundfile==0.12.1
soupsieve==2.5
SQLAlchemy==2.0.21
st-annotated-text==4.0.1
starlette==0.27.0
streamlit==1.27.2
streamlit-audiorecorder==0.0.3.post1
streamlit-camera-input-live==0.2.0
streamlit-card==0.0.61
streamlit-embedcode==0.1.2
streamlit-extras==0.3.4
streamlit-faker==0.0.2
streamlit-image-coordinates==0.1.6
streamlit-keyup==0.2.0
streamlit-toggle-switch==1.0.2
streamlit-vertical-slider==1.0.2
sympy==1.12
tabulate==0.9.0
tenacity==8.2.3
tesseract==0.1.3
tiktoken==0.5.1
timm==0.9.8
tokenizers==0.14.0
toml==0.10.2
toolz==0.12.0
torch==2.1.0
unstructured.pytesseract==0.3.12
urllib3==2.0.4
uvicorn==0.23.2
validators==0.22.0
watchdog==3.0.0
watchfiles==0.20.0
websockets==11.0.3
Werkzeug==2.3.7
WTForms==3.0.1
yarl==1.9.2
zipp==3.17.0